.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.loader-container.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.loader {
    width: 40px;
    aspect-ratio: 1;
    --c: linear-gradient(#b4b4b4 0 0);
    --m: radial-gradient(farthest-side, #005d16 92%, #0000);
    background:
        var(--c), var(--m),
        var(--c), var(--m),
        var(--c), var(--m);
    background-size: 8px 15px, 8px 8px;
    background-repeat: no-repeat;
    animation: l14 1s infinite alternate;
}

@keyframes l14 {

    0%,
    10% {
        background-position: 0 0, 0 100%, 50% 0, 50% 100%, 100% 0, 100% 100%
    }

    33% {
        background-position: 0 100%, 0 0, 50% 0, 50% 100%, 100% 0, 100% 100%
    }

    66% {
        background-position: 0 100%, 0 0, 50% 100%, 50% 0, 100% 0, 100% 100%
    }

    90%,
    100% {
        background-position: 0 100%, 0 0, 50% 100%, 50% 0, 100% 100%, 100% 0
    }
}