.premium-bg {
    --background: #f9fbff;
}

/* Header Section */
.password-header {
    text-align: center;
    padding: 0px 10px 5px;
}

.icon-circle-main {
    width: 70px;
    height: 70px;
    background: #eef4ff;
    color: #3b82f6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 0 auto 15px;
    box-shadow: 0 10px 20px rgba(59, 130, 246, 0.1);
}

.password-header h2 {
    font-size: 22px;
    font-weight: 800;
    color: #1a1a1a;
    margin: 0;
}

/* Error Popup Style */
.error-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-bubble {
    background: #d32f2f;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.error-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #d32f2f;
    margin-top: -1px;
}

.success-message {
    background: #2e7d32;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.password-header p {
    font-size: 14px;
    color: #777;
    margin-top: 8px;
}

/* Form Styling */
.form-container {
    margin-top: 10px;
}

.custom-input-group {
    margin-bottom: 10px;
}

.custom-input-group label {
    font-size: 12px;
    font-weight: 700;
    color: #444;
    margin-left: 5px;
    margin-bottom: 8px;
    display: block;
}

div.input-wrapper {
    background: white;
    border: 1.5px solid #dddddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: all 0.3s ease;
}

label.input-wrapper {
    margin: 0;
}

.input-wrapper:focus-within {
    border-color: #fff;
}

.input-icon-start {
    font-size: 20px;
    color: #abb0b6;
    margin-right: 10px;
}

.input-icon-end {
    font-size: 20px;
    color: #abb0b6;
    cursor: pointer;
}

.input-wrapper ion-input {
    --padding-start: 0;
    font-weight: 600;
    font-size: 15px;
}

/* Hints */
.password-hints {
    margin-top: 0px;
    padding: 0 5px;
}

.password-hints p {
    font-size: 11px;
    color: #888;
    margin: 4px 0;
    font-weight: 500;
}

/* Footer Button */
.action-footer {
    margin-top: 10px;
}

.premium-submit-btn {
    --background: var(--emperor-btn-bg);
    /* Dark button looks more professional */
    --background-activated: #333;
    --border-radius: 16px;
    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}