.qty-value-container {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.qty-input-list {
    background: transparent !important;
    padding: 0;
    margin-bottom: 80px;
    /* Space for footer buttons */
}

.qty-input-wrapper {
    background: #f7f7f7;
    /* Light grey background */
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 2px 10px;
}

.qty-custom-input {
    --padding-start: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

/* Footer Buttons Styling */
.qty-action-footer {
    position: fixed;
    bottom: 20px;
    left: 10px;
    right: 10px;
    display: flex;
    gap: 12px;
    background: var(--admin-bg);
}

.qty-btn-reset {
    flex: 1;
    height: 48px;
    background: white;
    color: #00263e;
    border: 1px solid #00263e;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
}

.qty-btn-update {
    flex: 1;
    height: 48px;
    background: #00263e;
    /* Dark blue */
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
}