.toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

.toast-popup {
    pointer-events: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 28px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    cursor: pointer;
    animation: toastIn 0.35s ease-out, toastOut 0.3s ease-in forwards;
    animation-delay: 0s, 100.7s;
    min-width: 250px;
    justify-content: center;
}

.toast-success {
    border: 1px solid #02af00f2;
    background: #75ff7de0;
    color: #0a3600;
}

.toast-error {
    background: #ebd6bb;
    border: 1px solid #ef7744f2;
    color: #ff2e00;
}

.toast-info {
    border: 1px solid #5446e0f2;
    background: #82a7e5f2;
    color: #140b84;
}

.toast-warning {
    border: 1px solid #fba92cf2;
    background: #ffd080f2;
    color: #7d4707;
}

.toast-icon {
    font-size: 18px;
    font-weight: 800;
    flex-shrink: 0;
}

.toast-text {
    white-space: wrap;
}

@keyframes toastIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes toastOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}