.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: opacity 0.5s ease-in-out; */
  opacity: 1;
}

.splash-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

.splash-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}