.date-filter-wrapper {
    width: 100%;
}

/* Custom Period Styling */
.compact-date-row {
    margin-top: 10px;
    --ion-grid-column-padding: 4px;
    /* Tighten the gap between columns */
}

.pill-date-box.small {
    background: #e9ebee;
    border-radius: 20px;
    border: 1px solid #e9ebee;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: space-between;
    padding: 0px 15px !important;
}

.date-label {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}

/* Ionic Datetime Button Overrides */
ion-datetime-button {
    --background: #f1f3f5;
    --color: #333;
    --border-radius: 4px;
    font-size: 12px;
}

ion-datetime-button::part(native) {
    padding: 4px 8px;
    font-size: 13px;
}