.ticker-banner {
    background-color: #fffafa;
    color: #d32f2f;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    z-index: 99;
}

.megaphone {
    font-size: 1rem;
    margin-right: 10px;
}

.marquee-wrapper {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    /* Add this */
}

.marquee-text {
    display: inline-block;
    white-space: nowrap;
    font-weight: 700;
    font-size: 13px;
    padding-left: 100%;
    /* Text de agge space pao taaki oh right ton enter kare */
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}