.settlement-wrapper {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Radio Button Styling */
.opening-section {
    margin: 5px 0;
}

.section-label {
    margin-top: 0px !important;
    color: #000;
}

.radio-flex {
    display: flex;
    gap: 20px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.radio-item IonLabel {
    font-size: 14px;
    font-weight: 500;
}

/* Buttons Side by Side */
.btn-reset-full,
.btn-view-full {
    flex: 1;
    height: 45px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
}

.btn-reset-full {
    background: white;
    color: #00263e;
    border: 1px solid #00263e;
}

.btn-view-full {
    background: #00263e;
    color: white;
    border: none;
}

/* Status Bars Styling */
.status-bars-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.status-bar {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: none;
    color: white;
    font-weight: 700;
}

.bar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.download-bar {
    background: #cbd5e1;
    color: #1e293b;
}

/* Grey */
.summary-bar {
    background: #1e3a5f;
}

/* Dark Navy */
.profit-bar {
    background: #4caf50;
}

/* Green */
.loss-bar {
    background: #e53935;
}

/* Red */

.count-badge {
    background: rgba(0, 0, 0, 0.2);
    padding: 2px 10px;
    border-radius: 4px;
    color: #e53935;
    /* Red zero jive image ch hai */
}

.arrow-icon {
    font-size: 18px;
}